*{
    margin : 0;
    padding: 0;
}
.nav{
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
  
}
.head{
    padding-left: 10px;
}
.navl{
    width: 100%;
    height: 8vh;
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: left;
    background-color: rgb(255, 255, 255);
}
.head2{
    margin-left: 10px;
    width: 60%;
    height: 50%;
    line-height: 4vh;
    border: 1px solid grey;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}
.head2 img{
    padding-left:5px ;
    padding-right: 10px;
    width: 15px;
    height: 15px;
}
.navr{
    width: 20%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 100px;
}
.head3{
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20px;
    width: 70px;
}
.if img{
        line-height: 20px;
}
.head4{
  margin-left: 10px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.head5{
    padding-left: 10px;
}
.second{
    width: 100%;
    height: 5vh;
    background-color: rgba(16, 15, 15, 0.052);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
  

}
.sl ul{
    line-height: 5vh;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.sl{
    margin-left: 100px;
    width: 25%;
    height: 5vh;
}
.sr{
    width: 25%;
    height: 5vh;
    margin-right: 100px;
}
.sr ul{
    line-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none
}
.third{
    width: 100%;
    height: 45vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.t1{
    position: absolute;
    left: 8%;
    top: 5%;
    width: 85%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    background-image: url("../images/main.avif");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.four{
        width: 100%;
        height: 75vh;
        background-color: rgb(255, 255, 255);
        position: relative;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.re h2{
    padding-left: 200px;
}
.cards{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;

}
.c1{
    width: 20%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.ims {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.ims img{
    width: 100%;
    height: 100%;
     border-radius: 8px;
   
}
.five{
    width: 100%;
    height: 15vh;
    position: relative;
}
.f1{
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 8px;
    width: 80%;
    height: 12vh;
    background-color: black;
    background-image: url("../images/stream.png");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.six{
    width: 100%;
    height: 45vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.six h2{
    padding-left: 180px;
}
.s1{
    position: absolute;
    left: 10%;
    width: 70%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s1c{
    width: 22%;
    height: 30vh;
    background-color: aliceblue;
    border-radius: 8px;
}
.s1img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.seven{
    width: 100%;
    height: 90vh;
    background-color: rgb(47, 38, 57);
    position: relative;
    
}
.se1{
    position: absolute;
    left: 10%;
    top:7%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.se1 .pl{
    width: 50px;
    height: 50px;
}
.se1 .pr{
    padding-left: 10px;
}
.se2{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 13%;
    top:20%;
}
.seven .cards{
    margin-top: 150px;
    background-color: rgb(47, 38, 57);;
}
.cards .c1 .con{
    color: white;
}
.eight{
    width: 100%;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.hmx{
    position: absolute;
    left: 13%;
    top: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}
.eight .cards .con{
    color: black;
}
.four .cards .con{
    color: black;

}
.nine .cards .con{
    color: black;

}
.ten .cards .con{
    color: black;

}
.eleven .cards .con{
    color: black;

}
.twelve .cards .con{
    color: black;

}
.thirdteen .cards .con{
    color: black;

}

.nine{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.ten{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.eleven{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.twelve{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.thirdteen{
    width: 100%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.fourteen{
    width: 100%;
    height: 35vh;
    background-color: white;
    position: relative;
   
}
.hmxi{
    position: absolute;
    left: 3%;
    top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardds{
    width: 100%;
    height: 20vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cc1{
    width: 10%;
    height: 35%;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.cc1 h3{
    color: red;
    padding-left: 10px;

}
.cc1 h4{
    color: grey;
    padding-left: 10PX;
}
.cc2 h3{
    color: red;
    padding-left: 10PX;
}
.cc2 h4{
    color: grey;
    padding-left: 10px;
}
.cardss2{
    width: 100%;
    height: 10vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.cc2{
    width: 10%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
    margin-left: 4%;
}
.fifteen{
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.377);
    position: relative;
}
.ff1{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 10vh;
    width: 100%;
    height: 10vh;
    display: flex;
}
.ff1 h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brn{
    padding: 10px;
    background-color: red;
    color: white;
}
.ff2{
    width: 100%;
    height: 25vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ff2 img{
    height: 70px;
    width: 70px;
}
.text1{
    position: absolute;
    left: 19%;
}
.text2{
    position: absolute;
    left: 44%;
}
.text3{
    position: absolute;
    left: 70%;
}
.foot{
    padding-left: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.logos{
    border-bottom: 1px solid white;
    margin-top: 50px;
    position: absolute;
    left: 43%;
}
.social{
    width: 25%;
    margin-left: 550px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social img{
    width: 50px;
    height: 50px;
}
.last{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 650px;
}