*{
    margin : 0;
    padding: 0;
}
.nav{
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
  
}
.head{
    padding-left: 10px;
}
.navl{
    width: 100%;
    height: 8vh;
    display: flex;
    padding-left: 100px;
    align-items: center;
    justify-content: left;
    background-color: rgb(255, 255, 255);
}
.head2{
    margin-left: 10px;
    width: 60%;
    height: 50%;
    line-height: 4vh;
    border: 1px solid grey;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}
.head2 img{
    padding-left:5px ;
    padding-right: 10px;
    width: 15px;
    height: 15px;
}
.navr{
    width: 20%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 100px;
}
.head3{
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20px;
    width: 70px;
}
.if img{
        line-height: 20px;
}
.head4{
  margin-left: 10px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.head5{
    padding-left: 10px;
}
.second{
    width: 100%;
    height: 5vh;
    background-color: rgba(16, 15, 15, 0.052);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
  

}
.sl ul{
    line-height: 5vh;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.sl{
    margin-left: 100px;
    width: 25%;
    height: 5vh;
}
.sr{
    width: 25%;
    height: 5vh;
    margin-right: 100px;
}
.sr ul{
    line-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none
}
.kill{
    width: 100%;
    height: 70vh;
    background-color: blue;
    position: relative;
    background-image: url("../images/killss.jpeg");
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-size: cover;
}
.poster{
    top: 5%;
    left: 10%;
    position: absolute;
    width: 20%;
    height: 60vh;
 
    border-radius: 15px;
    background-image: url("../images/kill.jpeg");
    background-position: center;
    object-fit: cover;
    background-size: cover;
}
.text{
    position: absolute;
    width: 35%;
    height: 65vh ; 

    left: 32%;
    top: 5%;
    
}
.text h1{
    margin-left: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pos1{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 8px;
    background-color:rgb(11, 11, 10);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 85%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.brn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
    color: black;
}
.pos2{
    margin-top: 20px;
    margin-left: 10px;
    width: 95%;
    height: 9vh;
    background-color: azure;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pos3{
    margin-left: 10px;
    margin-top: 10px;
    width: 50%;
    height: 5vh;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pos4{
    width: 90%;
    height: 5vh;
  color: white;
    margin-left: 15px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pos4 ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}
.pos5 .bm{
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.share{
    width: 7%;
    height:6vh;
    background-color: rgb(53, 59, 59);
    color: white;
    position: absolute;
    right: 5%;
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 8px;

}
.con2{
    margin-left: 100px;
    width: 70%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid grey;
}
.c1 p{
        margin-top: 10px;
}
.con3{
    margin-left: 100px;
    margin-top: 10px;
    width: 70%;
    height: 30vh;
    background-color: white;
    border-bottom: 1px solid grey;
    

}
.ims{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
   

}
.ims .im1{
    width: 150px;
    height: 150px;
    background-color: rgb(3, 25, 25);
    margin-left: 25px;
    border-radius: 50%;
    background-image: url("../images/raghav.avif");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.ims .im2{
    width: 150px;
    height: 150px;
    background-color: rgb(3, 25, 25);
    margin-left: 25px;
    border-radius: 50%;
    background-image: url("../images/lakshya.avif");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.ims .im3{
    width: 150px;
    height: 150px;
    background-color: rgb(3, 25, 25);
    margin-left: 25px;
    border-radius: 50%;
    background-image: url("../images/tanta.avif");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.content{
    position: absolute;
    top: 100%;
   
}
.contenti{
    position: absolute;
    top: 100%;
    left: 5%;
}
.con4{
    margin-left: 100px;
    margin-top: 10px;
    width: 70%;
    height: 30vh;
    background-color: white;
    border-bottom: 1px solid grey;
}
.ims .im4{
    width: 150px;
    height: 150px;
    background-color: rgb(3, 25, 25);
    margin-left: 25px;
    border-radius: 50%;
    background-image: url("../images/karan.avif");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.ims .im5{
    width: 150px;
    height: 150px;
    background-color: rgb(3, 25, 25);
    margin-left: 25px;
    border-radius: 50%;
    background-image: url("../images/apoor.avif");
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.contentx{
    position: absolute;
    top: 100%;
    left: 55%;
}
.contenty{
    position: absolute;
    top: 100%;
    left: 70%;
}
.con5{
    width: 100%;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    position: relative;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.re h2{
    position: absolute;
    left: 7%;
    top: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}
.cards{
    position: absolute;
    left: 4%;
    top: 5%;
    width: 80%;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;

}
.cx{
    width: 20%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.imj {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.imj img{
    width: 100%;
    height: 100%;
     border-radius: 8px;
   
}
.fifteen{
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.377);
    position: relative;
}
.ff1{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 10vh;
    width: 100%;
    height: 10vh;
    display: flex;
}
.ff1 h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brn{
    padding: 10px;
    background-color: red;
    color: white;
}
.ff2{
    width: 100%;
    height: 25vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ff2 img{
    height: 70px;
    width: 70px;
}
.text1{
    position: absolute;
    left: 19%;
}
.text2{
    position: absolute;
    left: 44%;
}
.text3{
    position: absolute;
    left: 70%;
}
.foot{
    padding-left: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.logos{
    border-bottom: 1px solid white;
    margin-top: 50px;
    position: absolute;
    left: 43%;
}
.social{
    width: 25%;
    margin-left: 550px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social img{
    width: 50px;
    height: 50px;
}
.last{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 650px;
}